<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>
                        <br>
                        <div>{{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюю)
                            {{/if}}
                        </div>
                        <br>
                        <div>
                            {{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}

                        </div>
                        <br>
                        <div><strong>Projects ({{projectAmount}})</strong></div>
                        <br>
                        <ul>
                            {{#each projects}}

                            {{> link text=name href=url blank=true noLine=true}}
                            <div>
                                <div>
                                    <p>{{about}}</p>
                                </div>
                                <br>
                                <div>
                                    <div><em>Project stacks</em></div>
                                    <br>
                                    <div>Stack Amount ({{stackAmount}})</div>
                                    <br>
                                    {{#each stack}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </div>
                                <br>
                                <div>
                                    <div><em>Project awards</em></div>
                                    <br>
                                    {{#each awards}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </div>
                            </div>
                        </ul>

                    </li>
                    {{/each}}
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>

    </main>
    {{/with}}


</div>